@import url('https://fonts.googleapis.com/css?family=Merriweather');

body{
    margin: 20px auto;
}

.topBox{
    height: 22vh;
    width: 95%;
    margin: auto;
    border: 5px solid black;
    
}

.purpleRect{
    height:70%;
    width: 5%;
    background-color: slateblue;
    margin-top: 43px;
    margin-left: 5px;
    display: inline-block;
}

.greenRect{
    height:90%;
    width: 39%;
    background-color: green;
    margin-top: -19%;
    margin-left: 5%;
    display: inline-block;
}

.circle{
    height:160px;
    width: 160px;
    background-color: lightblue;
    margin-top: -19%;
    margin-left: 5%;
    display: inline-block;
    border-radius: 100px;
}

.centerBox{
    height: 29vh;
    width: 95%;
    margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
    border: 5px dotted black;
    
}
    
.beigeBox{
    height:70%;
    width: 90%;
    background-color: #e6d4ac;
    margin-top: 4%;
    margin-left: 5%;
    display: inline-block;
    box-shadow: 7px 7px 3px #423f3f;
}

.bottomBox{
    height: 29vh;
    width: 50%;
    margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
    border: 1px solid #a09a9a;
    box-shadow: 2.5px 2.5px 1px #ccc4c4;
}

h1{
font-family: 'Merriweather',Arial, Helvetica, sans-serif;
font-size: 200%;
/*letter-spacing: 10%;*/
margin: auto;
text-align: center;
color: #314a8d;

}

.topWord{
    margin-top: 20%;
}